
<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="../../favicon.ico" />
    <link rel="icon" type="image/x-icon" href="../../favicon.ico">
    <link rel="icon" type="image/png" href="../../favicon.png" />


    <!-- Material design icon fonts CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Google fonts CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link href="/static/kitchen_brigade/assets/vendor/bootstrap-4.3.1/css/bootstrap.css" rel="stylesheet">

    <!-- custom scrollbar CSS -->
    <link href="/static/kitchen_brigade/assets/vendor/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.min.css" rel="stylesheet">

    <!-- Customized CSS -->
    <link href="/static/kitchen_brigade/assets/css/purple.css" id="link" rel="stylesheet">

    <title>Kitchen Brigade</title>
</head>

<body class="h-100 gradient-pink">
    <div class="loader">
        <div>
            <div class="loader-animation">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <br>
            <h2 class="mt-4"><span class="font-weight-light">KB</span></h2>
        
        </div>
    </div>
    <div class="background opacity-full">
        <img src="/static/kitchen_brigade/assets/img/sign-in-bg.png" alt="" class="opacity-full">
    </div>
    <div class="wrapper">
        <div class="background">
            <div class="overlay">
                <img src="/static/kitchen_brigade/assets/img/signin-bg-triangle.png" alt="">
            </div>
        </div>
        <div class="content h-100 d-flex flex-column w-100">
            <header class="header fixed-top">
                <!-- Fixed navbar -->
                <nav class="container-fluid">
                    <div class="row">
                        <div class="col align-self-center">
                            <a class="navbar-brand d-flex text-white p-0" href="#">
                                <div class="w-auto v-m mr-3">
                                    <h2 class="m-0 font-weight-bold h1">K<span class="font-weight-bold small">B</span></h2>
                                </div>
                                <div class="d-flex flex-column">
                                    <h5 class="m-0"><span class="font-weight-bold">Kitchen</span><span class="text-mute"> Brigade </span> </h5>
                
                                    <p class="m-0"><small class="text-mute text-uppercase d-block">Admin Dashboard</small></p>
                                </div>
                            </a>
                        </div>
                       
                    </div>
                </nav>
            </header>

            <!-- Begin page content -->
            <main class="flex-shrink-0">
                <div class="container-fluid" id="main-container">
                    <div class="row row-height">
                        <div class="col-12 col-md-6 col-lg-7 d-none d-md-flex"></div>
                        <div class="col-12 col-md-6   align-self-center">

                            <div class="row h-100 h-sm-auto">
                                <div class="col-12 col-md-10 col-lg-10 col-xl-7 mx-auto text-dark">
                                    <h5 class="font-weight-light mb-1 text-mute-high">Welcome back,</h5>
                                    <h3 class="font-weight-normal mb-4">Please Sign In</h3>

                                    {% if form.errors %} 
                                        <p>Your username and password didn't match. Please try again.</p> 
                                    {% endif %}


                                    <form method="post">
                                        {% csrf_token %}
                                    <div class="card  mb-2 overflow-hidden">
                                        <div class="card-body p-0">
                                            <label for="inputEmail" class="sr-only">Username</label>
                                            <input type="text" name="username" id="inputEmail" class="form-control form-control-lg rounded-0 border-0" placeholder="Username" required="" autofocus="">
                                            <hr class="my-0">
                                            <label for="inputPassword" class="sr-only">Password</label>
                                            <input type="password" name="password" id="inputPassword" class="form-control form-control-lg rounded-0 border-0" placeholder="Password" required="">
                                        </div>
                                    </div>
                                 
                                    <div class="mb-4">
                                        <button type="submit" class=" btn btn-template btn-block">Sign In</button>
                                    </div>
                                  
                                </form>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </main>

           
        </div>
      
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/kitchen_brigade/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/static/kitchen_brigade/assets/js//popper.min.js"></script>
    <script src="/static/kitchen_brigade/assets/vendor/bootstrap-4.3.1/js/bootstrap.min.js"></script>

    <!-- cookie css -->
    <script src="/static/kitchen_brigade/assets/vendor/cookie/jquery.cookie.js"></script>

    <!-- custom scrollbar -->
    <script src="/static/kitchen_brigade/assets/vendor/malihu-custom-scrollbar-plugin-master/jquery.mCustomScrollbar.concat.min.js"></script>


    <!-- Circular Progress -->
    <script src="/static/kitchen_brigade/assets/vendor/circle-progress/circle-progress.min.js"></script>

    <!-- Sparklines Progress -->
    <script src="/static/kitchen_brigade/assets/vendor/sparklines/jquery.sparkline.min.js"></script>

    <!-- Template main js -->
    <script src="/static/kitchen_brigade/assets/js/main.js"></script>

    <!-- color picker and Layout selector main js -->
    <script src="/static/kitchen_brigade/assets/js/layout-colorpicker.js"></script>

    <!-- page specific script -->
    <script>
        'user strict'
        $(document).ready(function() {

        });

    </script>

</body>

</html>
